@font-face{
	font-family: Brandon Grotesque Bold;
	font-weight: bold;
	src:url('../fonts/Brandon_blk.otf');
}

@font-face{
	font-family: Brandon Grotesque Thin;
	src:url('../fonts/Brandon_thin.otf');
}

@font-face{
	font-family: Brandon Grotesque;
	src:url('../fonts/Brandon_reg.otf');
}

html, body{
    max-width: 100%;
    overflow-x: hidden;
}

body{
	overflow-y: hidden;
}

#section1{
	background: url("../img/bg-orange.png") no-repeat center center;
	background-position: 70% 65%;
	background-color: white;
}
#section2{
	margin-bottom: 9em;
}
.navigation {
    color: #e97d2a !important;
}

.navigation:focus{
	color: #e97d2a !important;
}
.navigation:hover{
	text-decoration: none;
	color : #6bb3ce !important;
}
.intro{
	margin: 25vh;
}
.nav-button{
	background-color: white;
	opacity: 0.7;
}
.item-title{
	font-family:Brandon Grotesque Bold;
}
h1.number{
	font-size: 4em !important;
}
.displaypic{
	margin-top: 5vh;
	width: auto;
	max-height: 300px;
}
#mainLogo{
	margin-top: 1em;
}
#mobileshow{
	display: none;
}
@media only screen and ( max-width: 767px ) {
#aboutlogo{
	width: 18em;
}
#section1{
	background-position: 61% 65%;
}
.navigation{
	color: white !important;
}
#mobilehide{
	display: none;
}
#mobileshow{
	display: inline-block;
}
#section2{
	margin-bottom: 0;
}
}