@font-face{
	font-family: Brandon Grotesque Bold;
	font-weight: bold;
	src:url('../fonts/Brandon_blk.otf');
}

@font-face{
	font-family: Brandon Grotesque Thin;
	src:url('../fonts/Brandon_thin.otf');
}

@font-face{
	font-family: Brandon Grotesque;
	src:url('../fonts/Brandon_reg.otf');
}