	/* Centered texts in each section
	* --------------------------------------- */
	#section1 h1 h2{
		text-align: left;
	}

	/* Backgrounds will cover all the section
	* --------------------------------------- */
	#section1,
	#section2,
	#section3{
		background-size: cover;
	}

	/* Defining each section background and styles
	* --------------------------------------- */
	#section1{
		background-color:#6bb3ce;
		height: 100vh;
	}
	#section2{
		background-color: white;
	}
	#section3{
		background-color: white;
	}

	#section2 .intro{
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 30px;
	}
	#infoMenu li a{
			color: #fff;
	}

.navigation{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: "Brandon Grotesque";
    padding: 1em 0 1em 0;
    margin: 0.7em 1.5em;
}
.navigation:hover{
	text-decoration: none;
	color : #e97d2a;
}
.navigation:visited, .navigation:active, .navigation:focus{
	text-decoration: none;
	color: white;
}
#section1 h1{
	color:white;
	font-weight: bold;
	font-size: 5em;
	margin-top: 0px !important;
}
#section1 h2{
	color:white;
	margin-top: 15vh;
	margin-bottom: 0px !important;
}
#section2 h1{
	color:#e97d2a;
	font-weight: bold;
	font-size: 5em;
	margin-top: 1em !important;
}
#section3 h1{
	color:#e97d2a;
	font-weight: bold;
	font-size: 5em;
	margin-top: 1em !important;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}

body{
	margin: 0px;
	font-family: "Brandon Grotesque";
}
@font-face{
	font-family: Brandon Grotesque Bold;
	font-weight: bold;
	src:url('../fonts/Brandon_blk.otf');
}
@font-face{
	font-family: Brandon Grotesque Thin;
	src:url('../fonts/Brandon_thin.otf');
}
@font-face{
	font-family: Brandon Grotesque;
	src:url('../fonts/Brandon_reg.otf');
}
.bold{
	font-family: "Brandon Grotesque Bold" !important;
}
#about{
	padding-top: 5%
}
#about .title{
	color: #e97d2a;
}
.spaceup{
	margin-top: 3%;
}
.full{
	height:100vh;
}
.purple{
	background-color: purple;
}
.orange{
}
#welcome{
	background-color: #6bb3ce;
}
.center{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.title{
	text-align: center;
}

.text{
	width: 90%;
}

.producttext{
	width: 100%;
	font-size: 1.4em;
}
#mainLogo{
	width: 20em;
}
.button{
	text-decoration: none;
}
#viewPorto{
	text-decoration: none;
}

.footer{
	background-color: #282828;
	margin: 0;
	height: 10em;
	color: white;
	text-align: right;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
}

.footer-info{
	margin-right: 2.5vw;
	font-size: 1.1em;
	overflow: auto;
	line-height: 1.5;
	padding-right: 0.2em;
}

.footer-link{
	float: left;
	margin-left: 2em;
	text-decoration: none;
	color: white;
	background-color: #e97d2a;
	border-radius: 12px;
	padding: 0 1em 0 1em;
}

.footer-link:hover, .footer-link:focus{
	float: left;
	margin-left: 2em;
	text-decoration: none;
	color: white;
}

.footer-logo{
	float: left;
	width: 19em;
	margin-left: 1.4em;
}

.resp-img{
	height: auto;
	width: 50vh;
}

.container-img{
	width: 90vh;
}

.caption-style-1{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
}

.caption-style-1 li{
	float: left;
	padding: 0px;
	position: relative;
	overflow: hidden;
}

.caption-style-1 li:hover .caption{
	opacity: 1;

}


.caption-style-1 img{
	margin: 0px;
	padding: 0px;
	float: left;
	z-index: 4;
}


.caption-style-1 .caption{
	cursor: pointer;
	position: absolute;
	opacity: 0;
	-webkit-transition:all 0.45s ease-in-out;
	-moz-transition:all 0.45s ease-in-out;
	-o-transition:all 0.45s ease-in-out;
	-ms-transition:all 0.45s ease-in-out;
	transition:all 0.45s ease-in-out;

}
.caption-style-1 .blur{
	background-color: rgba(0,0,0,0.65);
	height: 300px;
	width: 400px;
	z-index: 5;
	position: absolute;
}

.caption-style-1 .caption-text h1{
	text-transform: uppercase;
	font-size: 24px;
}
.caption-style-1 .caption-text{
	z-index: 10;
	color: #fff;
	position: absolute;
	width: 39em;
	height: 300px;
	text-align: center;
	padding-top: 7em;
	font-size: 6px !important;
}

.orange{
	background-color: #e97d2a;
	width: 22em;
	border-radius: 5px;
	margin-top: 5em;
}

.details{
	font-size: 4em;
	-moz-user-select: none; 
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	-o-user-select:none;
}

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 2% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.modal-body {
    max-height: 100vh; /*calc(100vh - 210px)*/;
    overflow-y: auto;
}
.mobileshow{
	display: none;
}
.mobilehide{
	display: inline-block;
}
@media only screen and ( max-width: 767px ) {
#pbmain{
	width: 18em;
}
#section1 h2{
	margin-top: 2vh;
}
.intro{
	margin: 0;
}
.about p{
	font-size: 1em;
}
#section2 h1, #section3 h1, #section1 h1{
	font-size: 3em !important;
}
h2{
	font-size: 1.5em;
}
.footer-logo{
	width: 13em;
}
.footer-info{
	font-size: 0.9em;
}
.nav-button{
	margin-top: -2em;
}
.footer{
	height: 9em;
}
.producttext{
	font-size: 1em;
}
.blur{
	height: 9em;
	width: 12em;
}
.orange{
	margin-top: 1em;
	margin-right: 15em !important;
}
#notable{
	display:none;
}
.mobileshow{
	display: inline-block;
}
.mobilehide{
	display: none;
}
#modaltext{
	font-size: 1em;
}
}}